  


.banner{
    background-image: url("Assets/Hero-bg.png");

    background-size: cover;
    background-position: center;

    /* width: 98vw; */
    height:50vh;
    border: 2px solid rgb(239, 234, 227);




    
}

nav ul{
    display:flex;
    justify-content: space-between;
}

nav ul button{
    align-content: center;
    /* margin-left: 10%;
    margin-right: 30px; */

    background-color: blue;

    color:rgb(243, 243, 252);
    width: 100px;
    height: 30px;

    border-radius: 9px;

    border-style: none;

}

.logo{
    font-weight: bold;
    /* margin-left: 5px; */

}

nav li{
    list-style: none;
    
}

nav ul li a{
    margin-right: 20px;
    margin-left: 20px;

    text-decoration: none;

    color:blue
    

    
}


.heading {
    
    width: 30vw;


    
    

    text-align: center;
    justify-self: center;
    align-self: center;
    margin-top: 5%;

    
}
.heading button{
    align-content: center;
    margin-left: 10%;

    background-color: blue;

    color:rgb(243, 243, 252);
    width: 100px;
    height: 30px;

    border-radius: 9px;

    border-style: none;
}



.sec1{
    display:flex;

    width: 70%;

    /* margin-top:100px;
    margin-left: 50px; */

    margin:0 auto;
    margin-top: 50px;

    border:2px solid rgb(244, 241, 241);
    border-radius: 4px;

    justify-content: space-between;


    background-color: rgb(225, 225, 244);
    


}
.left{
    width: 300px;
    margin-left: 20px;
}
.sec1 h4{
    font-size: large;
}
.sec1 img{
    height: 200px;
    border-radius: 6px;
}

.sec1 button{
    align-content: center;
   

    background-color: blue;

    color:rgb(243, 243, 252);
    width: 150px;
    height: 30px;

    border-radius: 9px;

    border-style: none;

}